services:
  api:
    build:
      context: .
      dockerfile: api/Dockerfile
    command: uv run uvicorn main:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      sqs:
        condition: service_healthy
    develop:
      watch:
        - action: sync
          path: ./api
          target: /app
          ignore:
            - Dockerfile
        - action: rebuild
          path: ./pyproject.toml

  worker:
    build:
      context: .
      dockerfile: worker/Dockerfile
    command: uv run celery -A main worker --loglevel=info
    env_file:
      - .env
    depends_on:
      sqs:
        condition: service_healthy
      api:
        condition: service_started
    develop:
      watch:
        - action: sync
          path: ./worker/main.py
          target: /app/main.py
        - action: sync
          path: ./worker/tasks.py
          target: /app/tasks.py
        - action: rebuild
          path: ./pyproject.toml

  sqs:
    image: localstack/localstack:latest
    env_file:
      - .env
    ports:
      - "4566:4566"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4566/_localstack/health"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
