services:
  sqs-api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - AWS_DEFAULT_REGION=ap-northeast-1
    develop:
      watch:
        - action: sync
          path: ./app
          target: /app/app
        - action: rebuild
          path: ./pyproject.toml
        - action: rebuild
          path: ./uv.lock
